.thumbnail img {
  max-height: 200px;
}

.thumbnail .description {
  color: lightslategray;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

a.navbar-brand #logo {
  width: 140px;
  z-index: 1;
  position: absolute;
  top: -5px;
}
